
.navbar{
    position: fixed;
    top : 0;
    left: 0;
    width: 100%;
    padding: 0.75rem 2rem;
    
}

.nav-link{
    font-size: 20px;
    color: #000;
    font-family: monospace;
    font-style: oblique;
    
}
