.body-register{
  background-image: linear-gradient(to right, turquoise, #98FB98);
}
.register-left {
  margin-top: 120px !important;
  text-align: center;
  color: #fff;
  padding: 30px;
}
.register-left p {
  padding: 20px 20px 0;
}

.register-left .btn-primary {
  border-radius: 1.5rem;
  border: none;
  background: #f8f8f8;
  width: 120px;
  font-weight: 600;
  color: #555;
  margin-top: 20px;
  padding: 10px;
}
.register-left .btn-primary:hover {
  background: #000;
}

.register-right {
  margin-top: 20px !important;
  margin-bottom: 10px !important;
  border: none;
  background: #f8f8f8;
  border-top-left-radius: 10% 50%;
  border-bottom-left-radius: 10% 50%;
  padding: 20px;
}

.register-right h2 {
  color: #555;
}
.register-form{   
  padding: 10px;
}
.register-right .btn-primary {
  border-radius: 1.5rem;
  border: none;
  background: #00DED1;
  width: 120px;
  font-weight: 600;
  color: #fff;
  margin-top: 10px;
  padding: 10px;
}
.register-right .btn-primary:hover{
  background: #00FF7F;
}

.register-right .form-control{
  background: #f8f8f8;
  border-bottom: 1px solid #000;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-radius: 0px;
  color: #000000;
  font-size: 15px;
  height: 20px;
  line-height: 10px;
  outline: none !important;
  width: 100%;
}
.register-right .form-control:focus{
  background: #f8f8f8;
  border-bottom-color: #3CB371;
  -webkit-appearance:none;
  box-shadow: none !important;
  outline: 0px !important;

}
.register-right label {
  color:  #000000;
  display: block;
  font-size: 14px;
  height: 16px;
  margin-top: 5px;
 
}
.register-right .register-signup{
  font-family: monospace;
  font-style: oblique;
}
.error{
  font-size: 12px;
  color: #ff0000;
}